---
const routes = [
    { path: "/", label: "Listado" },
    { path: "/pokemons/1", label: "Paginación" },
    { path: "/favorites", label: "Favoritos" },
];

const activePath = Astro.originPathname;
---

<nav class="bg-white dark:bg-gray-800">
    <div
        class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
    >
        {
            routes.map(({ path, label }) => (
                <ul>
                    <a
                        href={path}
                        class="text-gray-800 dark:text-gray-200 mx-1.5 sm:mx-6"
                    >
                        {label}
                    </a>
                    {activePath === path ? (
                        <div transition:name="navbar-link-bar"
                            class="border-b-2 border-blue-500 mx-5" />
                    ) : (
                        <div class="border-b-2 border-transparent"/>
                    )}
                </ul>
            ))
        }
    </div>
</nav>
